@page
@model ClientsOrders.Pages.Orders.IndexModel

@{ ViewData["Title"] = "Orders"; }

<h2>
    @ViewData["Title"] <span class="badge badge">@ViewData["TotalRecords"] total</span>
    <a asp-page="Create"><span class="badge" style="background-color: green"><b>+ Add</b></span></a>
</h2>

@{
    await Html.RenderPartialAsync("OrdersPartial");
}